*{
    margin:0;
    padding:0;
    text-decoration:none;
    box-sizing: border-box;
}
body{
    background-color:#000;
    &.lock{
        overflow:hidden;
    }
}
.header {
    padding:10px;
    height:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position: relative;
    padding:10px;

    .header__logo {
        color:white;
        font-size:30px;
        font-family:sans-serif;
        font-weight:600;
        padding:5px;
    }
}
.hidden-link{
    display:none;
}

.menu {
    .menu__link {
        font-weight: 500;
        font-size: 18px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px; 
            bottom: 0;
            left: 0;
            background-color:#fff; 
            transition: width 0.3s ease; 
            left: 50%;
            transform: translateX(-50%);
        }

        &:hover::after {
            width: 100%; 
        }
    }
    }
    .menu__links{
        margin-top:350px;
        img{
            width:40px;
            height:40px;
        }
        @media (max-width:768px) {
            .menu__hidden-links{
                display:flex;
                align-items:end;
                img{
                    display:block;
                    color:#fff; 
                }
            }
        }
    }
    .menu__icon{
        display:none;
        @media (max-width:768px){
            &.active{
                span{
                    transform:scale(0);
                    &:first-child{
                        transform:rotate(-45deg);
                        top:calc(50% - 1px);
                    }
                    &:last-child{
                        transform:rotate(45deg);
                        bottom:calc(50% - 1px);
                    }
                }
            }
            display:block;
            width:30px;
            height:18px;
            z-index:5;
            cursor: pointer;
            position: relative;
            span{
                position: absolute;
                width: 100%;
                top:calc(50% - 1px);
                left:0;
                height:2px;
                background-color: #fff;
                transition:.2s all;
                &:first-child{
                    top:0;
                }
                &:last-child{
                    bottom:0;
                    top:auto;
                }
            }
        }
       
       
        
 }
    .menu__body {
        @media (max-width:768px) {
            position:absolute;
            top:0;
            right:100%;
            height:110vh;
            width:100%;
            background-color:rgba(0, 0, 0, 0.8);
            transition: .2s ease-in;
        }
        &.active{
            right:0;
        }
        
    }

    .menu__list {
        display:flex;
        gap:30px;
        list-style-type:none;
        a{
            color:white;
            text-decoration: none;
            font-family:sans-serif;
        }
        @media (max-width:768px){
            flex-direction:column;
            height:100%;
            padding:30px;
            gap:0;
            width:60%;
            background-color:#000;
            overflow:auto;
            margin-top:50px;
        }
    }
    .menu__link{
        margin-right:20px;
        @media (max-width:768px){
            display: block;
            font-size:25px;
            line-height:70px;
        }
    }


main{
    background-color:#000;
}
.section-main1 {
    width:100%;
    height:100vh;
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    background-image:url(img/professional-programmer-working-late-dark-office.jpg);
    background-size:cover;
    background-attachment:fixed;
}

.section-text {
    font-family:sans-serif;
    text-align:center;
    display:flex;
    flex-flow: column;
    align-items:center;
    margin-bottom:20px; 
    line-height:1.5em;   
    h1{
        font-size:50px;
        padding-bottom:30px;
        font-family: "Inter", sans-serif;
        color:#fff;
    }
    h2{
        font-size:25px;
        width:390px;
        height:70px;
        text-align:center;
        line-height:1.7;
        font-family: "Inter", sans-serif;
        padding-bottom:20px;
        color:white;
    }
}
.section-btns {
    display:flex;
    flex-flow:wrap;
    align-items:center;

    .frame{
        border:2px solid black;
        margin-left:20px;
        width:150px;
        text-align:center;
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius:10px;
        height: 40px;
        background-color:#000;
        cursor: pointer;
        p{
            padding:15px;
            color:#fff;
            font-family: "Inter", sans-serif;
        }
    }
}
.btn1{
    width:100px;
    height: 44px;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:rgba(255, 255, 255, 0.818);
    border-radius:10px;
    cursor: pointer;
    p{
        font-family: "Inter", sans-serif;
        font-size:15px;
        font-family: inter;
        
    }

}

.frame{
    border:2px solid white;
    margin-left:20px;
    width:150px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:10px;
    height: 40px;
    background-color:#000;
    cursor: pointer;
    p{
        padding:15px;
        color:#fff;
        font-family: "Inter", sans-serif;
    }
}
.section-second {
    height: 100vh;
    width:auto;
    background-color:#000;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    h1{
        text-align:center;
    }
    h3{
        width:400px;
        line-height:1.4em
    }
}

.section-text{
    color: white;
    font-family:sans-serif;

}
.btn-section2 {
display:flex;
flex-flow:wrap;
}

.section2-block{
    width:700px;
    height:500px;
    border:2px solid white;
    
}
.two-sections {
    display: flex;
    flex-flow:wrap;
    height: 100vh;
}

.first-section {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#000;

}
.first-section.active{
    transform:translateX(0);
    opacity:1;
}
.first-section__text {
    width: 400px;
    display: flex;
    flex-flow: column;
    justify-content:center;
}

.first-section__text h1 {
    font-size: 50px;
    font-family: "Inter", sans-serif;
    color:white;
}

.first-section__text h2 {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    margin-top: 30px;
    color: white;
}

.first-section__btn {
    width: auto;
    height: 45px;
    font-size: 14px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.first-section-btns {
    margin-top: 30px;
}

.first-section__learn-more {
    margin-left: 20px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    height: 45px;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
}

.second-section {
    width: 50%;
    height: 100vh;
    overflow-x: hidden;
}

.second-section__img {
    height: 100%;
    overflow-y:hidden;
}

.second-section__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.section-quality {
    height:50vh;
    width:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#000;
    flex-flow: wrap;
}
.section-quality__block {
    img{
        width:350px;
        height:250px;
        margin-right:30px;
        background-size: cover;
    }
    display:flex;
    flex-flow:wrap;
    justify-content:center;
    align-items:center;
}
.block__text {
    h1{
        font-size:50px;
        font-family: "Inter", sans-serif;
        color: #fff;
    }
    h2{
        width:300px;
        font-size:24px;
        font-family: "Inter", sans-serif;
        line-height:1.5;
        color: #fff;
    }
    line-height:1.2;

    img{
        background-color:#ddd;
        border:2px solid white
    }
}
.section-quality__btn {
    margin-top:20px;
    width: auto;
    height: 45px;
    font-size: 14px;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}
.card-container {
    display: flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    margin-top:100px;
}
.card {
    width: 325px;
    background-color:   #222222;
    border-radius:7px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
		&__content {
            padding: 16px;
            a{
                display:inline-block;
                padding: 8px 16px;
                background-color: #000;
                color:#fff;
                border-radius:4px;
                margin-top:16px;
                font-family:sans-serif;
            }
		}
        img{
            width: 100%;
            height:260px;
            opacity:0.8;
        }
        h3{
            font-size:28px;
            font-family:sans-serif;
            margin-bottom:8px;
            color: #fff;
        }
        p{
            font-family:sans-serif;
            color: #fff;
            font-size:17px;
            line-height:1.4;
        }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-left{
    0%{
        opacity:0;
    }
    100%{
        opacity:7;
    }
}
.slide-in-right {
    animation: slideInFromRight 1s ease;
}
.slide-in-left{
    animation: slide-in-left 1s ease;
}
.btn-adaptive{
    width:40px;
    height:40px;
    background-image:url(/icons/bars-solid.svg);
    background-position:center;
    background-color:grey;
    background-repeat: no-repeat;
    display:none;
    justify-content:center;
    align-items:center;
    cursor: pointer;
}
.btn-active{
    width:80%;
    height:100%;
    background-color: #ddd;
}



@media (max-width:1200px) {
    .header{
        position:sticky;
    }
    .section-main1{
        background-position:center;
        background-size:cover;
    }
    .two-sections{
        .first-section{
            display:flex;
            align-items:center;
            justify-content:center;
            h1{
                font-size:40px;
            }
            h2{
                font-size:20px;
                max-width:300px;
                padding-left:20px;
            }
            .first-section__btn{
                margin-left:20px;
            }
        }
    }
}
@media (min-width:1200px) {
    .hidden-link{
        display:none;
    }
}
@media (max-width:768px) {
    .hidden-link{
        display:block;
    }
    .section-main1{
        margin-bottom:150px;
        height:90vh;
        .section-text{
            h1{
                font-size:30px;
            }
            h2{
                font-size:20px;
            }
        }
        .section-btns{
            margin-bottom:150px;
        }
    }
    .section-text{
        h1{
           line-height:1.2;
        }

    }
    .two-sections{
        .first-section{
            width:100%;
            display:flex;
            justify-content:center;
            h1{
                text-align:center;
            }
            h2{
                margin-left:48px;
            }
            .first-section-btns{
                margin-left:42px;
            }
        }
        .second-section{
            display:none;
        }
    }
    .section-quality{
        height:100vh;
    }
    .section-quality__block{
        .block__text{
            margin-left:40px;
            margin-bottom:40px;
            img{
                padding-left:40px;
            }
        }
        justify-content:center;
    }
    .content-products{
      margin-left:40px;
      display:flex;
      .content-products__blocks {
        width:200px;
        img{
            width:200px;
        }
      }
    }
}

